:root {
    --color-primary: #6DE9AC;
    --color-primary-text: #0f0f0f;
}

body {
    background-image: linear-gradient(to bottom right, #0f0f0f, #04216b);
    font-family: "Asap", sans-serif;
}

main {
    flex: 1;
}

footer {
    background-color: white;
    padding: 2rem;
}

footer .logo-deployed {
    max-width: 200px;
}

footer .social-icon {
    width: 100px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/gwiazdki.svg"), url("../images/tlo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.nav .main-logo {
    height: 50px;
    max-height: none;
}

.nav a {
    color: white;
    font-weight: bold;
}

.button {
    border-radius: 100px;
}

.button.primary {
    color: var(--color-primary-text);
}

.card {
    box-shadow: none;
    border: 1px solid lightgray;
    border-radius: 0;
}

.stack {
    display: flex;
    flex-direction: column;
}

.helptext {
    font-size: 0.8em;
    color: var(--color-grey)
}
